/* .doc-details {
  display: grid;
  grid-template-columns: 2fr 9fr;
  gap: 10px;
} */

.doc-img {
  width: 100%;
}

.doc-text {
  text-align: left;
}

.input-style {
  width: 300px;
  height: 40px;
  margin: 10px;
  border-color: aliceblue;
}
